**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
**/node_modules/*
**/.idea/*
*.map
*.tfvars
package-lock.json
**/.serverless/*
dump.rdb
userAuth.zip
serverless.yml
**/.vscode/*
**/.nyc_output/*
**/coverage/*
env.bat
./serverless_dev_pokers/*
serverless_dev_pokers/
sls_pokers.sh
**/.DS_Store
terraform_1.2.1
**/dist/*
practice.js